<div class="cart-notification-wrapper{% if desktop_menu_type != 'drawer' %} page-width{% endif %}">
  <div
    id="cart-notification"
    class="cart-notification focus-inset{% if color_scheme %} color-{{ color_scheme }} gradient{% endif %}"
    :class="{ 'cart-notification-open': cartOpen }"
    aria-modal="true"
    aria-label="{{ 'general.cart.item_added' | t }}"
    role="dialog"
    tabindex="-1" 
    {% comment %} style="display: none;" {% endcomment %}
  >
    <div class="cart-notification__header">
      <h2 class="cart-notification__heading caption-large text-body">
        {% comment %} {{- 'icon-checkmark.svg' | inline_asset_content -}} {% endcomment %}
        {{ 'general.cart.item_added' | t }}
      </h2>
      <button
        type="button"
        class="cart-notification__close"
        aria-label="{{ 'accessibility.close' | t }}"
        @click="cartOpen = !cartOpen"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>
    </div>
    <div id="cart-notification-product" class="cart-notification-product" data-ajax-cart-section></div>
  </div>
</div>