{% if filter_type == 'vertical' %}
  {% assign show_more_number = 10 %}

  <aside class="filters-sidebar small-hide">
    {% liquid
      assign open = true
      if collapse_filters
        assign open = false
      endif
    %}

    <div class="active-facets active-facets-desktop">
      <div class="active-facets-vertical-filter">
        <h2 class="facets__heading facets__heading--vertical">Filter:</h2>
      </div>
    </div>

    {% for f in results.filters %}
      {% case f.type %}
      {% when 'boolean', 'list' %}
      <div
        class="filter-section facets__disclosure-vertical js-filter"
        id="Details-{{ f.param_name | escape }}-{{ section.id }}"
        x-data="{ open: {{ open }} }"
      >
        <details
          x-bind:open="open"
          @toggle="open = $event.target.open"
        >
          <summary>
            <span>
              {{ f.label }}
              {% if f.active_values.size > 0 %}
                ({{ f.active_values.size }})
                <a
                  class="reset-button"
                  data-render-section-url="{{ f.url_to_remove }}"
                  href="{{ f.url_to_remove }}"
                  >reset
                </a>
              {% endif %}
            </span>
            {{ 'icon-caret.svg' | inline_asset_content }}
          </summary>
          <div
            class="parent-display facets__display-vertical"
            x-data="{ showMore : $persist(false).as('sm-{{ f.param_name }}') }"
          >
            {% for v in f.values %}
              {% assign input_id = 'Filter-' | append: f.param_name | escape | append: '-' | append: forloop.index %}
              <label
                class="facet-checkbox"
                {% if forloop.index > show_more_number %}
                  x-show="showMore"
                  x-transition
                {% endif %}
              >
                <input
                  id="{{ input_id }}"
                  type="checkbox"
                  name="{{ v.param_name }}"
                  value="{{ v.value }}"
                  data-render-section
                  {% if v.active %}
                    checked
                  {% endif -%}
                  {% if v.count == 0 and v.active == false %}
                    disabled
                  {% endif -%}
                >
                {{- 'square.svg' | inline_asset_content -}}
                <div class="svg-wrapper">
                  {{- 'icon-checkmark.svg' | inline_asset_content -}}
                </div>
                {{- v.label }} ({{ v.count }})
              </label>
            {% endfor %}
            {%- if f.values.size > show_more_number -%}
              <button type="button" class="filters__show-more" x-on:click="showMore = !showMore" x-text="showMore ? 'Show less' : 'Show more'">
                Show more
              </button>
            {%- endif %}
          </div>
        </details>
      </div>
      {% when 'price_range' %}
        <details
          id="Details-{{ f.param_name | escape }}-{{ section.id }}"
          class="{% if filter_type == 'horizontal' %}disclosure-has-popup facets__disclosure{% else %} facets__disclosure-vertical{% endif %} js-filter"
          data-index="{{ forloop.index }}"
          {% if filter_type == 'vertical' and forloop.index == 1 %}
            open
          {% endif %}
        >
          <summary class="facets__summary caption-large focus-offset">
            <div>
              <span>{{ f.label | escape }}</span>
              {% comment %} {% render 'icon-caret' %} {% endcomment %}
            </div>
          </summary>
          <div
            id="Facet-{{ forloop.index }}-{{ section.id }}"
            class="{% if filter_type == 'horizontal' %}facets__display{% else %}facets__display-vertical{% endif %}"
          >
            <div class="{% if filter_type == 'horizontal' %}facets__header{% else %}facets__header-vertical{% endif %}">
              {%- assign max_price_amount = f.range_max | money | strip_html | escape -%}
              {% comment %} <span class="facets__selected">
                {{- 'products.facets.max_price' | t: price: max_price_amount -}}
              </span> {% endcomment %}
              {%- if filter_type != 'vertical' -%}
                <facet-remove>
                  <a href="{{ f.url_to_remove }}" class="facets__reset link underlined-link">
                    {{ 'products.facets.reset' | t }}
                  </a>
                </facet-remove>
              {%- endif -%}
            </div>
            <price-range class="facets__price">
              {% render 'price-facet', filter: f, id_prefix: 'Filter-', filter_type: filter_type %}
            </price-range>
          </div>
        </details>
    {% endcase %}
    {% endfor %}
  </aside>
{% elsif filter_type == 'horizontal' %}
  <div>
    {%- for f in results.filters -%}
      <div
        class="filter-dropdown"
        x-data="{ open: false }"
      >
        <button type="button" x-on:click="open = !open" class="filter-button">{{ f.label | escape }}</button>
        <div
          x-cloak
          x-show="open"
          @click.away="open = false"
          x-transition
          class="filter-content js-filter"
          id="Details-{{ f.param_name | escape }}-{{ section.id }}"
        >
          <span>
            {{ f.label }}
            {% if f.active_values.size > 0 %}
              ({{ f.active_values.size }})
              <a
                data-render-section-url="{{ f.url_to_remove }}"
                href="{{ f.url_to_remove }}"
                >reset
              </a>
            {% endif %}
          </span>
          <ul>
            {%- for v in f.values -%}
              {% assign input_id = 'Filter-' | append: f.param_name | escape | append: '-' | append: forloop.index %}
              <li>
                <label>
                  <input
                    type="checkbox"
                    id="{{ input_id }}"
                    name="{{ v.param_name }}"
                    value="{{ v.value }}"
                    data-render-section
                    {% if v.active %}
                      checked
                    {% endif -%}
                    {% if v.count == 0 and v.active == false %}
                      disabled
                    {% endif -%}
                  >
                  {{- v.label }} ({{ v.count }})</label
                >
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}

{% endif %}
