{% if filter_type == 'vertical' %}
  {% assign show_more_number = 10 %}

  <aside class="sidebar">
    {% liquid
      assign open = true
      if collapse_filters
        assign open = false
      endif
    %}

    {% for f in results.filters %}
      <div
        class="filter-section"
        x-data="{ open: $persist({{ open }}).as('xv-{{ f.param_name }}') }"
      >
        <details
          id="{{ f.param_name }}"
          x-bind:open="open"
          @toggle="open = $event.target.open"
        >
          <summary>
            <span>
              {{ f.label }}
              {% if f.active_values.size > 0 %}
                ({{ f.active_values.size }})
                <a
                  data-render-section-url="{{ f.url_to_remove }}"
                  href="{{ f.url_to_remove }}"
                  >reset
                </a>
              {% endif %}
            </span>
          </summary>
          <div
            style="display: flex; flex-direction: column"
            x-data="{ showMore : $persist(false).as('sm-{{ f.param_name }}') }"
          >
            {% for v in f.values %}
              <label
                {% if forloop.index > show_more_number %}
                  x-show="showMore"
                  x-transition
                {% endif %}
              >
                <input
                  type="checkbox"
                  name="{{ v.param_name }}"
                  value="{{ v.value }}"
                  data-render-section
                  {% if v.active %}
                    checked
                  {% endif -%}
                  {% if v.count == 0 and v.active == false %}
                    disabled
                  {% endif -%}
                >
                {{- v.label }} ({{ v.count }})
              </label>
            {% endfor %}
            {%- if f.values.size > show_more_number -%}
              <button type="button" class="show-more" x-on:click="showMore = !showMore" x-text="showMore ? 'Show less' : 'Show more'">
                Show more
              </button>
            {%- endif %}
          </div>
        </details>
      </div>
    {% endfor %}
  </aside>
{% elsif filter_type == 'horizontal' %}
  <div>
    {%- for f in results.filters -%}
      <div
        class="filter-dropdown"
        x-data="{ open: $persist(false).as('xh-{{ f.param_name }}') }"
      >
        <button x-on:click="open = !open" class="filter-button">{{ f.label | escape }}</button>
        <div
          x-cloak
          x-show="open"
          @click.away="open = false"
          x-transition
          class="filter-content"
        >
          <span>
            {{ f.label }}
            {% if f.active_values.size > 0 %}
              ({{ f.active_values.size }})
              <a
                data-render-section-url="{{ f.url_to_remove }}"
                href="{{ f.url_to_remove }}"
                >reset
              </a>
            {% endif %}
          </span>
          <ul>
            {%- for v in f.values -%}
              <li>
                <label>
                  <input
                    type="checkbox"
                    name="{{ v.param_name }}"
                    value="{{ v.value }}"
                    data-render-section
                    {% if v.active %}
                      checked
                    {% endif -%}
                    {% if v.count == 0 and v.active == false %}
                      disabled
                    {% endif -%}
                  >
                  {{- v.label }} ({{ v.count }})</label
                >
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}

{% endif %}
