{%- style -%}
  .filters-sidebar {
    margin-bottom: 20px;
    width: 260px;
    margin-right: 30px;
    flex-shrink: 0;
  }

  .facets__heading {
    display: block;
    color: rgba(var(--color-foreground), 0.85);
    font-size: 14px;
    margin-bottom: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
  }

  .filters-horizontal .facets__heading {
    margin: 0px;
    margin-right: 20px;
    width: unset;
  }

  .filter-section {
    border-top: 1px solid rgba(var(--color-foreground), 0.1);
    margin-right: 0;
  }

  .facets__disclosure-vertical summary {
    padding: 16.5px 17.5px 16.5px 0px;
  }

  .facets__disclosure-vertical details[open] summary .icon-caret {
    transform: rotate(180deg);
  }

  .facets__disclosure-vertical summary .icon-caret {
    position: absolute;
    height: 6px;
    right: 0px;
    top: calc(50% - 2px);
  }

  .facets__display-vertical {
    display: flex;
    flex-direction: column;
    padding: 6px 12px 25px 0px;
  }

  .facet-checkbox {
    padding: 10px 20px 10px 0;
    flex-grow: 1;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: flex-start;
    word-break: break-word;
    cursor: pointer;
  }

  .facet-checkbox:hover {
    color: rgba(var(--color-foreground), 1);
    text-decoration: underline;
  }

  .facet-checkbox input[type='checkbox'] {
    margin-right: 12px;
    position: absolute;
    opacity: 0;
    width: 16px;
    height: 16px;
    top: 7px;
    left: -4px;
  }

  .facet-checkbox > svg,
  .facet-checkbox > .svg-wrapper {
    background-color: rgb(var(--color-background));
    margin-right: 12px;
    flex-shrink: 0;
  }

  .facet-checkbox .svg-wrapper {
    visibility: hidden;
    position: absolute;
    left: 3px;
    z-index: 5;
    top: 9px;
    width: 11px;
    height: 7px;
  }

  .facet-checkbox > input[type='checkbox']:checked ~ .svg-wrapper > .icon-checkmark {
    visibility: visible;
  }

  .facet-checkbox:has(input:disabled) {
    opacity: 0.4;
    pointer-events: none;
  }

  .filters__show-more {
    background: white;
    border: 1px solid;
    padding: 10px 5px;
    cursor: pointer;
    margin-top: 15px;
    outline: 1px solid transparent;
  }

  .filters__show-more:hover {
    outline: 1px solid black;
  }

  /* STYLES FOR HORIZONTAL FILTERS TYPE */

  .filters-horizontal {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    max-width: 700px;
  }

  .facets__wrapper {
    position: relative;
    margin-right: 40px;
    margin-bottom: 15px;
  }

  .filter-button {
    width: max-content;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 14px;
    color: rgba(var(--color-foreground), 0.75);
    padding: 0px;
    margin-right: 5px;
  }

  .filter-button:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
    color: rgba(var(--color-foreground), 1);
  }

  .filter-button .icon-caret {
    height: 6px;
    position: relative;
    top: -1px;
    right: -5px;
  }

  .filter-content {
    border-width: var(--popup-border-width);
    border-style: solid;
    border-color: rgba(var(--color-foreground), var(--popup-border-opacity));
    border-radius: var(--popup-corner-radius);
    box-shadow: var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset) var(--popup-shadow-blur-radius)
      rgba(var(--color-shadow), var(--popup-shadow-opacity));
    background-color: rgb(var(--color-background));
    position: absolute;
    top: calc(100% + 10px);
    left: -12px;
    width: 350px;
    max-height: 550px;
    overflow-y: auto;
    z-index: 5;
  }

  .filter-content .facets__list {
    padding: 7px 20px;
    list-style-type: none;
    margin: 0;
  }

  .facets__head-wrapper {
    border-bottom: 1px solid rgba(var(--color-foreground), 0.2);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    background-color: rgb(var(--color-background));
    position: sticky;
    top: 0px;
    z-index: 1;
  }

  .facet-reset {
    text-transform: capitalize;
    color: black;
    cursor: pointer;
    text-underline-offset: 3px;
  }
{%- endstyle -%}

{% if filter_type == 'vertical' %}
  {% assign show_more_number = 10 %}
  <aside class="filters-sidebar small-hide">
    {% liquid
      assign open = true
      if collapse_filters
        assign open = false
      endif
    %}

    <div class="facets__main-head-wrapper">
      <h2 class="facets__heading">Filter:</h2>
    </div>
    {% for f in results.filters %}
      <div
        class="filter-section facets__disclosure-vertical js-filter"
        id="Details-{{ f.param_name | escape }}-{{ section.id }}"
        x-data="{ open: {{ open }} }"
      >
        <details
          x-bind:open="open"
          @toggle="open = $event.target.open"
        >
          <summary>
            <span>
              {{ f.label }}
              {% if f.active_values.size > 0 %}
                ({{ f.active_values.size }})
                <a
                  class="reset-button"
                  data-render-section-url="{{ f.url_to_remove }}"
                  href="{{ f.url_to_remove }}"
                  >reset
                </a>
              {% endif %}
            </span>
            {{ 'icon-caret.svg' | inline_asset_content }}
          </summary>
          <div
            class="facets__display-vertical"
            x-data="{ showMore : $persist(false).as('sm-{{ f.param_name }}') }"
          >
            {% for v in f.values %}
              {% assign input_id = 'Filter-' | append: f.param_name | escape | append: '-' | append: forloop.index %}
              <label
                class="facet-checkbox"
                {% if forloop.index > show_more_number %}
                  x-show="showMore"
                  x-transition
                {% endif %}
              >
                <input
                  id="{{ input_id }}"
                  type="checkbox"
                  name="{{ v.param_name }}"
                  value="{{ v.value }}"
                  data-render-section
                  {% if v.active %}
                    checked
                  {% endif -%}
                  {% if v.count == 0 and v.active == false %}
                    disabled
                  {% endif -%}
                >
                {{- 'square.svg' | inline_asset_content -}}
                <div class="svg-wrapper">
                  {{- 'icon-checkmark.svg' | inline_asset_content -}}
                </div>
                {{- v.label }} ({{ v.count }})
              </label>
            {% endfor %}
            {%- if f.values.size > show_more_number -%}
              <button
                type="button"
                class="filters__show-more"
                x-on:click="showMore = !showMore"
                x-text="showMore ? 'Show less' : 'Show more'"
              >
                Show more
              </button>
            {%- endif %}
          </div>
        </details>
      </div>
    {% endfor %}
  </aside>
{% elsif filter_type == 'horizontal' %}
  <div class="filters-horizontal">
    <h2 class="facets__heading">Filter:</h2>
    {%- for f in results.filters -%}
      <div
        class="facets__wrapper"
        x-data="{ open: false }"
      >
        <button type="button" x-on:click="open = !open" class="filter-button">
          {{ f.label | escape }}
          {{ 'icon-caret.svg' | inline_asset_content }}
        </button>
        <div
          x-cloak
          x-show="open"
          @click.away="open = false"
          x-transition
          class="filter-content js-filter"
          id="Details-{{ f.param_name | escape }}-{{ section.id }}"
        >
          <div class="facets__head-wrapper">
            <span class="facet-name">
              {{ f.label }}
              {% if f.active_values.size > 0 %}
                ({{ f.active_values.size }})
              {% endif %}
            </span>
            {% if f.active_values.size > 0 %}
              <a
                class="facet-reset"
                data-render-section-url="{{ f.url_to_remove }}"
                href="{{ f.url_to_remove }}"
                >reset
              </a>
            {% endif %}
          </div>
          <ul class="facets__list">
            {%- for v in f.values -%}
              {% assign input_id = 'Filter-' | append: f.param_name | escape | append: '-' | append: forloop.index %}
              <li class="facets__item">
                <label class="facet-checkbox">
                  <input
                    type="checkbox"
                    id="{{ input_id }}"
                    name="{{ v.param_name }}"
                    value="{{ v.value }}"
                    data-render-section
                    {% if v.active %}
                      checked
                    {% endif -%}
                    {% if v.count == 0 and v.active == false %}
                      disabled
                    {% endif -%}
                  >
                  {{- 'square.svg' | inline_asset_content -}}
                  <div class="svg-wrapper">
                    {{- 'icon-checkmark.svg' | inline_asset_content -}}
                  </div>
                  {{- v.label }} ({{ v.count }})</label
                >
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}

{% endif %}
