{% if filter_type == 'vertical' %}
  <aside class="sidebar">
    {% liquid
      assign open = true
      if collapse_filters
        assign open = false
      endif
    %}

    {% for f in results.filters %}
      <div
        class="filter-section"
        {% if request.design_mode == false %}
          x-data="{ open: $persist({{ open }}).as('xv-{{ f.param_name }}') }"
        {% endif %}
      >
        <details
          id="{{ f.param_name }}"

          {% if request.design_mode %}
            {% if collapse_filters == false %}
              open
            {% endif %}
          {% else %}
            x-bind:open="open"
            @toggle="open = $event.target.open"
          {% endif %}
        >
          <summary>
            <span>
              {{ f.label }}
              {% if f.active_values.size > 0 %}
                ({{ f.active_values.size }})
                <a
                  data-render-section-url="{{ f.url_to_remove }}"
                  href="{{ f.url_to_remove }}"
                  >reset
                </a>
              {% endif %}
            </span>
          </summary>
          <div>
            {% for v in f.values %}
              <label>
                <input
                  type="checkbox"
                  {% if v.active %}
                    checked
                    data-render-section-checkbox-url="{{ v.url_to_remove }}"
                  {% else %}
                    data-render-section-checkbox-url="{{ v.url_to_add }}"
                  {% endif -%}
                  {% if v.count == 0 and v.active == false %}
                    disabled
                  {% endif -%}
                >
                {{- v.label }} ({{ v.count }})</label
              ><br>
            {% endfor %}
          </div>
        </details>
      </div>
    {% endfor %}
  </aside>
{% elsif filter_type == 'horizontal' %}
  <div>
    {%- for f in results.filters -%}
      <div
        class="filter-dropdown"
        x-data="{ open: $persist(false).as('xh-{{ f.param_name }}') }"
      >
        <button x-on:click="open = !open" class="filter-button">{{ f.label | escape }}</button>
        <div
          x-cloak
          x-show="open"
          @click.away="open = false"
          x-transition
          class="filter-content"
        >
          <span>
            {{ f.label }}
            {% if f.active_values.size > 0 %}
              ({{ f.active_values.size }})
              <a
                data-render-section-url="{{ f.url_to_remove }}"
                href="{{ f.url_to_remove }}"
                >reset
              </a>
            {% endif %}
          </span>
          <ul>
            {%- for v in f.values -%}
              <li>
                <label>
                  <input
                    type="checkbox"
                    {% if v.active %}
                      checked
                      data-render-section-checkbox-url="{{ v.url_to_remove }}"
                    {% else %}
                      data-render-section-checkbox-url="{{ v.url_to_add }}"
                    {% endif -%}
                    {% if v.count == 0 and v.active == false %}
                      disabled
                    {% endif -%}
                  >
                  {{- v.label }} ({{ v.count }})</label
                >
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}

{% endif %}
