{% unless nav_style == 'drawer' %}
  <style>
    #main-header .nav-dropdown, #main-header .nav-dropdown_child {
      position: absolute;
      top: 100%;
      gap: 0;
      align-items: stretch;
      flex-direction: column;
      background: #fff;
      margin-top: 1px;
    }
    #main-header .nav-dropdown_child {
      position: static;
      background: #f1f1f1;
    }
    #main-header .nav-dropdown a, #main-header .nav-dropdown summary {
      display: flex;
      width: 20ch;
      font-size: 15px;
      line-height: 1.5;
      padding: 12px 18px;
      border-bottom: 1px solid #ddd;
    }
  </style>
{% endunless %}
<ul {% if nav_style == 'drawer' %}class="menu-drawer_navigation"{% endif %}>
  {% for link in section.settings.menu.links %}
    <li>
      {% if link.links != blank %}
        <details>
          <summary>
            {{- link.title | escape -}}
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
          <ul class="nav-{{ nav_style }}" role="list">
            {%- for childlink in link.links -%}
              <li>
                {%- if childlink.links == blank -%}
                  <a
                    href="{{ childlink.url }}"
                    class="header__menu-item"
                    {% if childlink.current %}
                      aria-current="page"
                    {% endif %}
                  >
                    {{ childlink.title | escape }}
                  </a>
                {%- else -%}
                  <details
                    {% if menu_type == 'megamenu' %}
                      open
                    {% endif %}
                  >
                    <summary>
                      {{- childlink.title | escape -}}
                      {{- 'icon-caret.svg' | inline_asset_content -}}
                    </summary>
                    <ul class="nav-dropdown_child color-{{ section.settings.menu_color_scheme }} gradient" role="list">
                      {%- for grandchildlink in childlink.links -%}
                        <li>
                          <a
                            href="{{ grandchildlink.url }}"
                            class="header__menu-item"
                            {% if grandchildlink.current %}
                              aria-current="page"
                            {% endif %}
                          >
                            {{ grandchildlink.title | escape }}
                          </a>
                        </li>
                      {%- endfor -%}
                    </ul>
                  </details>
                {%- endif -%}
              </li>
            {%- endfor -%}
          </ul>
        </details>
      {% else %}
        <a
          href="{{ link.url }}"
          {% if link.current %}
            aria-current="page"
          {% endif %}
        >
          {{- link.title | escape -}}
        </a>
      {% endif %}
    </li>
  {% endfor %}
</ul>