<div class="price-range-slider">
    <span id="current-price">{{ filter.min_value.value | money }}</span> 
  
  <input 
    type="range" 
    class="slider" 
    name="{{ filter.min_value.param_name }}" 
    id="{{ id_prefix }}{{ filter.label | escape }}-Range" 
    min="0" 
    max="{{ filter.range_max | money_without_currency }}" 
    value="{% if filter.min_value.value %}{{ filter.min_value.value | money_without_currency }}{% else %}0{% endif %}"
    oninput="updatePrice(this.value)"
  >

  <label class="field__label" for="{{ id_prefix }}{{ filter.label | escape }}-Range">
    {% comment %} {{ 'products.facets.price_range' | t }}:  {% endcomment %}
    {% comment %} <span id="current-price">{{ filter.min_value.value | money_without_currency }}</span> 
    -  {% endcomment %}
    <span>{{ filter.range_max | money }}</span>
  </label>
</div>

<script>
  function updatePrice(value) {
    document.getElementById('current-price').innerText = value;
  }
</script>
