<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" x-data="{ cartOpen: false }">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
    {{ content_for_header }}
    
    {% comment %} Alpine Plugins {% endcomment %}
    <script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/persist@3.x.x/dist/cdn.min.js"></script>
    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

    {% comment %} liquid-ajax-cart.js.org {% endcomment %}
    <script type="application/json" data-ajax-cart-initial-state>
      {{ cart | json }}
    </script>

    <script type="module">
      import '{{ "liquid-ajax-cart-v2.1.1.js" | asset_url }}';
    </script>
    {% comment %} Styling for Product card component & Price component {% endcomment %}
    {{ 'component-price.css' | asset_url | stylesheet_tag }}
    {{ 'component-card-product.css' | asset_url | stylesheet_tag }}

    {% comment %} Theme Styles {% endcomment %}
    <link rel="stylesheet" href=" {{'global.css' | asset_url }} ">
    {%- render 'css-variables' -%}
  </head>

  <body>
    {% section 'cart-drawer' %}
    {% section 'header' %}
    <main id="MainContent" role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'main-footer' %}
  </body>
</html>
