{% comment %} SWIPER SLIDER INIT {% endcomment %}
<link rel="stylesheet" href="{{ "swiper7.4.1.min.css" | asset_url }}">
<script defer src="{{ "swiper7.4.1.min.js" | asset_url }}" id="swiper-script"></script>

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }

  /*===============================
  START PRODUCT INFO SECTION STYLING
  ==================================*/
  :root {
    --swiper-navigation-size: 20px;
  }

  product-info {
    display: block;
    background-color: white;
  }

  product-info .page-width {
    max-width: {{ settings.page_width }}px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .flex {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    padding: 0;
    list-style: none;
  }

  .flex__item {
    width: 100%;
    max-width: 100%;
    flex-grow: 1;
    flex-shrink: 0;
  }

  .swiper {
    z-index: 0;
  }

  .swiper-button-next, .swiper-button-prev{
    color: black;
  }

  .swiper-pagination-bullet-active{
    background: black;
  }

  .product__media-wrapper .swiper-slide img,
  .product__media-wrapper .swiper-slide video,
  .product__media-wrapper .swiper-slide iframe {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }

  .constrain-height .product__media-wrapper .swiper-slide img,
  .constrain-height .product__media-wrapper .swiper-slide video,
  .constrain-height .product__media-wrapper .swiper-slide iframe {
    max-height: 75vh;
  }

  .product__media-wrapper.media-cover .swiper-slide img,
  .product__media-wrapper.media-cover .swiper-slide video,
  .product__media-wrapper.media-cover .swiper-slide iframe {
    object-fit: cover;
  }

  .product__media-wrapper.media-contain .swiper-slide img,
  .product__media-wrapper.media-contain .swiper-slide video,
  .product__media-wrapper.media-contain .swiper-slide iframe {
    object-fit: contain;
  }

  .product__info-wrapper{
    padding-top: 20px;
  }

  .product__info-wrapper form > *+*{
    margin: 15px 0;
  }

  .product__info-wrapper .product__text {
    display: inline-flex;
    font-size: 10px;
    letter-spacing: 1.3px;
    text-transform: uppercase;
    line-height: calc(1 + .2 / 1.0);
    margin: 0px;
  }

  .product__info-wrapper .product__title * {
    margin: 0px;
  }

  product-info .product__info-wrapper form > *:last-child{
    margin-bottom: 0px;
  }

  .product__info-wrapper .product__title {
    word-break: break-word;
    margin-bottom: 16px;
    margin-top: 0px;
  }

  .product__title h1,
  .product__title h2 {
    font-size: 30px;
    font-weight: 400;
    line-height: calc(1 + .3/max(1,1.0));
    letter-spacing: calc(1.0 * 0.6px);
  }

  .product__price {
    margin-bottom: 20px;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    row-gap: 10px;
  }

  .price__item {
    margin: 0 15px 0 0;
    font-size: 18px;
    letter-spacing: 1px;
  }

  .price__item.product-regular__price{
    margin-right: 9px;
    color: rgb(var(--color-foreground));
  }

  .price__item.product-sale__price {
    font-size: 16px;
  }

  .badge{
    border: 1px solid transparent;
    border-radius: 50px;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 1px;
    line-height: 1;
    padding: 6px 13px 7px;
    text-align: center;
    border-color: var(--color-badge-border);
    word-break: break-word;
  }

  .option__label {
    display: block;
    margin-bottom: 6px;
    font-size: 13px;
    line-height: calc(1 + .5 / 1.0);
    letter-spacing: 0.6px;
    padding-left: 0px;
  }

  .pill-radio {
    display: none;
  }

  .pill-label {
    border: var(--variant-pills-border-width) solid rgba(var(--color-foreground),var(--variant-pills-border-opacity));
    border-radius: var(--variant-pills-radius);
    color: rgba(var(--color-foreground));
    background-color: rgb(var(--color-background));
    display: inline-block;
    margin: 7px 5px 2px 0;
    padding: 10px 20px;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1;
    text-align: center;
    transition: border .1s ease;
    cursor: pointer;
    position: relative;
  }

  .product-form__input input[type=radio]+label:hover {
    border-color: rgb(var(--color-foreground));
  }

  .pill-radio:checked + .pill-label {
    background-color: rgb(var(--color-foreground));
    color: rgb(var(--color-background));
  }

  .pill-label.pill-disabled {
    text-decoration: line-through;
  }

  .variant-block__dropdown select {
    width: 100%;
    height: 45px;
    padding: 0px 31px 0px 14px;
    border-radius: 0px;
    font-size: 12px;
  }

  .product__quantity svg.icon {
    width: 10px;
    height: 10px;
    pointer-events: none;
  }

  .product__quantity button {
    padding: 0px;
    border: none;
    background: transparent;
    width: calc(150px / 1.0);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    min-height: 45px;
    color: rgb(var(--color-foreground));
  }

  .product__quantity .option__label {
    margin-bottom: 7px;
  }

  .product__quantity quantity-selector input:focus {
    border: none;
    outline: 0px;
  }

  .product__quantity quantity-selector{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(140px / 1.0 + 1px* 2);
    min-height: calc((1px* 2) + 40px);
    outline: var(--inputs-border-width) solid rgba(var(--color-foreground),var(--inputs-border-opacity));
  }

  .product__quantity quantity-selector input {
    border: none;
    text-align: center;
    background: transparent;
    width: 100%;
    font-size: 16px;
    color: currentColor;
  }

  .product__quantity quantity-selector input::-webkit-outer-spin-button,
  .product__quantity quantity-selector input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .product__info-wrapper .product-form__buttons {
    margin-top: 27px;
  }

  .product-form__buttons button {
    width: 100%;
    background: transparent;
    border: none;
    outline: var(--inputs-border-width) solid rgba(var(--color-foreground),var(--inputs-border-opacity));
    padding: 12.5px 10px;
    cursor: pointer;
    font-size: 15px;
    letter-spacing: 1px;
    color: var(--color-secondary-button);
  }

  .product-form__buttons button:hover {
    outline: 2px solid rgba(var(--color-foreground));
  }

  .shopify-payment-button__button {
    font-size: 15px;
    letter-spacing: 1px;
  }

  shopify-buy-it-now-button .shopify-payment-button__button {
    background: black;
  }

  .shopify-payment-button {
    margin-top: 12px;
  }

  .shopify-payment-button .shopify-payment-button__button--unbranded{
    background: rgba(var(--color-button),var(--alpha-button-background));
  }

  .product-form__input {
    padding: 0;
    margin: 0 0 12px;
    min-width: fit-content;
    border: none;
  }

  .product__info-wrapper .product__accordion {
    margin-top: 25px;
    margin-bottom: 0;
    border-top: 1px solid rgba(var(--color-foreground),.08);
    border-bottom: 1px solid rgba(var(--color-foreground),.08);
  }

  .product__accordion summary {
    display: flex;
    align-items: center;
    position: relative;
    line-height: 1;
    padding: 15px 0;
    cursor: pointer;
    list-style: none;
  }

  .product__accordion .svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: rgb(var(--color-foreground));
    width: calc(1.0 * 20px);
    height: calc(1.0 * 20px);
    align-self: center;
    margin-right: calc(1.0 * 10px);
  }

  .product__accordion .summary__title {
    display: flex;
    flex: 1;
  }

  .product__accordion .accordion__title {
    display: flex;
    align-items: center;
    max-width: calc(100% - 96px);
    min-height: 16px;
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: rgb(var(--color-foreground));
  }

  .product__accordion svg.icon.icon-caret {
    width: 10px;
    height: 6px;
    position: relative;
    right: 15px;
  }

  .product__accordion details[open]>summary .icon-caret {
    transform: rotate(180deg);
  }

  .product__accordion .accordion__content {
    margin-bottom: 15px;
    word-break: break-word;
    overflow-x: auto;
    padding: 0 10px;
    line-height: calc(1 + 0.6 / 1.0);
  }

  .accordion__content>*:first-child {
    margin-top: 0px;
  }

  .accordion__content>*:last-child {
    margin-bottom: 0px;
  }

  .product__accordion+.product__accordion {
    margin-top: 0;
    border-top: none;
  }

  .product__inventory {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 16px;
    letter-spacing: .5px;
  }

  .product__inventory .svg-wrapper, .product__inventory svg {
    width: 15px;
    height: 15px;
  }

  .product__inventory .svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  .share-button {
    display: block;
    position: relative;
  }

  .share-button .hidden {
    display: none;
  }

  .share-button__button {
    font-size: 14px;
    display: flex;
    align-items: center;
    color: rgb(var(--color-link));
    margin-left: 0;
    padding-left: 0;
    min-height: 44px;
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .share-button .svg-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
  }

  .share-button__button .icon-share {
    height: 12px;
    margin-right: 10px;
    min-width: 13px;
  }

  .share-button details {
    width: fit-content;
  }

  .share-button__fallback {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    left: 1px;
    z-index: 3;
    width: 100%;
    min-width: max-content;
    border-radius: var(--inputs-radius);
    border: 0;
  }

  .share-button__fallback .field {
    border-radius: 0;
    min-width: auto;
    min-height: auto;
    transition: none;
    position: relative;
    width: 100%;
    display: flex;
  }

  .share-button__message:not(:empty) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    padding: 8px 0 8px 15px;
    margin: var(--inputs-border-width);
  }

  .share-button__fallback .field__input {
    box-shadow: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    filter: none;
    width: 100%;
    min-width: auto;
    min-height: auto;
    flex-grow: 1;
    text-align: left;
    padding: 22px 15px 8px 20px;
    transition: box-shadow var(--duration-short) ease;
    appearance: none;
    background-color: rgb(var(--color-background));
    color: rgb(var(--color-foreground));
    font-family: var(--font-body-family);
    font-style: var(--font-body-style);
    font-weight: var(--font-body-weight);
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    border: 0;
  }

  .field__label, .customer .field label {
    margin-bottom: 0;
    pointer-events: none;
    position: absolute;
    transition: top var(--duration-short) ease, font-size var(--duration-short) ease;
    color: rgba(var(--color-foreground), .75);
    line-height: 1.5;
    font-size: 10px;
    top: calc(var(--inputs-border-width) + 5px);
    left: calc(var(--inputs-border-width) + 20px);
  }

  .share-button__fallback button {
    width: 44px;
    height: 44px;
    padding: 0;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    right: var(--inputs-border-width);
    cursor: pointer;
    background-color: transparent;
    border: none;
  }

  .share-button__fallback:before {
    background: rgb(var(--color-background));
    pointer-events: none;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--inputs-radius-outset);
    box-shadow: var(--inputs-shadow-horizontal-offset) var(--inputs-shadow-vertical-offset) var(--inputs-shadow-blur-radius) rgba(var(--color-shadow), var(--inputs-shadow-opacity));
    z-index: -1;
  }

  .share-button__fallback:after {
    pointer-events: none;
    content: "";
    position: absolute;
    top: var(--inputs-border-width);
    right: var(--inputs-border-width);
    bottom: var(--inputs-border-width);
    left: var(--inputs-border-width);
    border: .1rem solid transparent;
    border-radius: var(--inputs-radius);
    box-shadow: 0 0 0 var(--inputs-border-width) rgba(var(--color-foreground), var(--inputs-border-opacity));
    transition: box-shadow var(--duration-short) ease;
    z-index: 1;
  }

  .share-button__fallback .hidden,
  .share-button__message:not(:empty):not(.hidden)~* {
    display: none;
  }

  .visually-hidden {
    position: absolute;
    overflow: hidden;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    word-wrap: normal;
  }

  @media screen and (min-width: 750px) {
    product-info .page-width {
      padding: 0 50px;
    }

    .product--right .product__media-wrapper {
      order: 1;
    }

    .product--right .product__info-wrapper {
      order: 0;
    }

    .product__info-wrapper{
      display: inline-flex;
      max-width: 50%;
      width: calc(50% - 40px / 2);
      height: 100%;
      padding-top: 0px;
    }

    .product--left .product__info-wrapper{
      padding-left: 40px;
    }

    .product--right .product__info-wrapper{
      padding-right: 40px;
    }

    .product__info-sticky {
      position: sticky;
      top: 137px;
    }

    .product__info-wrapper .caption-with-letter-spacing {
      font-size: 10px;
      letter-spacing: 1px;
      line-height: calc(1 + .2 / 1.0);
      text-transform: uppercase;
    }

    .product__info-wrapper .subtitle {
      font-size: 16px;
      line-height: calc(1 + .8 / 1.0);
      letter-spacing: 1px;
      color: #121212B3;
    }

    .product__media-wrapper {
      max-width: 50%;
      width: calc(50% - 40px / 2);
    }

    .product__title h1,
    .product__title h2 {
      font-size: 40px;
      color: rgb(var(--color-foreground));
    }

    .product--small .product__variants variant-selector,
    .product--small .product-form__buttons button,
    .product--small .product-form__buttons .shopify-payment-button,
    .product--small .product__accordion,
    .product--small .share-button,
    .product--medium .product__variants variant-selector,
    .product--medium .product-form__buttons button,
    .product--medium .product-form__buttons .shopify-payment-button,
    .product--medium .product__accordion,
    .product--medium .share-button {
      display: block;
      max-width: 440px;
    }

    .product--large .product__variants variant-selector,
    .product--large .product__accordion,
    .product--large .product-form__buttons button,
    .product--large .product-form__buttons .shopify-payment-button,
    .product--large .share-button {
      max-width: 343px;
    }
  }

  @media screen and (min-width: 990px) {
    .product--large .product__info-wrapper{
      max-width: 35%;
      width: calc(35% - 40px / 2);
    }

    .product--large .product__media-wrapper {
      max-width: 65%;
      width: calc(65% - 40px / 2);
    }

    .product--medium .product__info-wrapper{
      max-width: 45%;
      width: calc(45% - 40px / 2);
    }

    .product--medium .product__media-wrapper {
      max-width: 55%;
      width: calc(55% - 40px / 2);
    }

    .product--small .product__info-wrapper{
      max-width: 55%;
      width: calc(55% - 40px / 2);
    }

    .product--small .product__media-wrapper {
      max-width: 45%;
      width: calc(45% - 40px / 2);
    }
  }

  /* =============================
  END PRODUCT INFO SECTION STYLING
  =============================== */
{%- endstyle -%}

{% assign selected_variant = product.selected_or_first_available_variant %}

<product-info
  data-url="{{ product.url}}"
  data-section="{{ section.id }}"
  class="color-{{ section.settings.color_scheme }} section-{{ section.id }}-padding"
>
  <div class="page-width">
    <div class="product flex product--{{ section.settings.media_size }} product--{{ section.settings.media_position }} {% if section.settings.constrain_to_viewport %}constrain-height{% endif %}">
      <div class="product__media-wrapper flex__item media-{{ section.settings.media_fit }}">
        {% render 'product-media-gallery',
          product_media: product.media,
          selected_variant: selected_variant,
          video_looping: section.settings.enable_video_looping
        %}
      </div>
      <div class="product__info-wrapper flex__item {% if section.settings.enable_sticky_info %}product__info-sticky {% endif %}">
        {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
          <input type="hidden" name="id" value="{{ selected_variant.id }}">
          {%- for block in section.blocks -%}
            {%- case block.type -%}
              {%- when 'text' -%}
                <p class="product__text {% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}">
                  {{- block.settings.text -}}
                </p>

              {%- when 'title' -%}
                <div class="product__title">
                  <h1>{{ product.title }}</h1>
                </div>

              {%- when 'price' -%}
                <div id="price-{{ section.id }}" class="product__price">
                  {%- liquid
                    assign compare_at_price = selected_variant.compare_at_price | money
                    assign price = selected_variant.price | money
                    if settings.currency_code_enabled
                      assign compare_at_price = selected_variant.compare_at_price | money_with_currency
                      assign price = selected_variant.price | money_with_currency
                    endif
                  -%}
                  {%- if selected_variant.compare_at_price -%}
                    <s class="price__item product-sale__price">{{ compare_at_price }}</s>
                  {%- endif -%}
                  <span class="price__item product-regular__price">{{ price }}</span>

                  {% if selected_variant.price < selected_variant.compare_at_price %}
                    <span class="badge color-{{ settings.sale_badge_color_scheme }}">Sale</span>
                  {% endif %}
                </div>

              {%- when 'sku' -%}
                <p
                  class="product__sku{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if selected_variant.sku.size == 0 %} visibility-hidden{% endif %}"
                  id="Sku-{{ section.id }}"
                >
                  {{- selected_variant.sku -}}
                </p>

              {%- when 'variant_picker' -%}
                <div class="product__variants">
                  {% unless product.has_only_default_variant %}
                    <variant-selector>
                      {%- if block.settings.picker_type == 'dropdown' -%}
                        <div class="variant-block__dropdown">
                          {% for option in product.options_with_values %}
                            <label class="option__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                            <fieldset class="product-form__input">
                              <select
                                name="options[{{ option.name | escape }}]"
                                id="Option-{{ section.id }}-{{ forloop.index0 }}"
                              >
                                {% for value in option.values %}
                                  <option
                                    value="{{ value | escape }}"
                                    data-option-value-id="{{ value.id }}"
                                    {% if value.selected %}
                                      selected="selected"
                                    {% endif %}
                                    {% unless value.available %}
                                      style="color: red; text-decoration: line-through;"
                                    {% endunless %}
                                  >
                                    {{ value }}
                                    {% unless value.available %}
                                      Unavailable
                                    {% endunless %}
                                  </option>
                                {% endfor %}
                              </select>
                            </fieldset>
                          {% endfor %}
                        </div>
                      {%- endif -%}
                      {%- if block.settings.picker_type == 'button' -%}
                        <div class="variant-select__button">
                          {%- for option in product.options_with_values -%}
                            <fieldset class="product-form__input">
                              <legend class="option__label">{{ option.name }}</legend>
                              {%- for value in option.values -%}
                                <input
                                  type="radio"
                                  id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}"
                                  name="{{ option.name }}-{{ option.position }}"
                                  value="{{ value | escape }}"
                                  class="pill-radio {% unless value.available %}disabled{% endunless %}"
                                  {% if value.selected %}
                                    checked
                                  {% endif %}
                                  data-product-url="{{ value.product_url }}"
                                  data-option-value-id="{{ value.id }}"
                                >
                                <label
                                  class="pill-label {% unless value.available %}pill-disabled{% endunless %}"
                                  for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 -}}"
                                >
                                  {{ value }}
                                </label>
                              {%- endfor -%}
                            </fieldset>
                          {%- endfor -%}
                        </div>
                      {%- endif -%}
                      <script type="application/json" data-variants>
                        {{ product.variants | json }}
                      </script>
                    </variant-selector>
                  {% endunless %}
                </div>

              {%- when 'quantity_selector' -%}
                <div class="product__quantity">
                  <label class="option__label" for="Quantity-{{ section.id }}">Quantity</label>
                  <quantity-selector>
                    <button name="minus" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-minus" viewBox="0 0 10 2">
                        <path fill="currentColor" fill-rule="evenodd" d="M.5 1C.5.7.7.5 1 .5h8a.5.5 0 1 1 0 1H1A.5.5 0 0 1 .5 1" clip-rule="evenodd"></path>
                      </svg>
                    </button>
                    <input
                      id="Quantity-{{ section.id }}"
                      type="number"
                      name="quantity"
                      data-cart-quantity="{{ cart | item_count_for_variant: selected_variant.id }}"
                      min="{{ selected_variant.quantity_rule.min }}"
                      {% if selected_variant.quantity_rule.max != null %}
                        max="{{ selected_variant.quantity_rule.max }}"
                      {% endif %}
                      step="{{ selected_variant.quantity_rule.increment }}"
                      value="1"
                    >
                    <button name="plus" type="button">
                      <svg xmlns="http://www.w3.org/2000/svg" fill="none" class="icon icon-plus" viewBox="0 0 10 10">
                        <path fill="currentColor" fill-rule="evenodd" d="M1 4.51a.5.5 0 0 0 0 1h3.5l.01 3.5a.5.5 0 0 0 1-.01V5.5l3.5-.01a.5.5 0 0 0-.01-1H5.5L5.49.99a.5.5 0 0 0-1 .01v3.5l-3.5.01z" clip-rule="evenodd"></path>
                      </svg>
                    </button>
                  </quantity-selector>
                </div>

              {%- when 'description' -%}
                {%- if product.description != blank -%}
                  <div class="product__description">
                    <p>{{ product.description }}</p>
                  </div>
                {%- endif -%}

              {%- when 'buy_buttons' -%}
                <div class="product-form__buttons">
                  <button
                    id="AddToCart-{{ section.id }}"
                    type="submit"
                    name="add"
                    class="{% if block.settings.show_dynamic_checkout %}button--secondary{% else %}button--primary{% endif %}"
                    {% if selected_variant == null or selected_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    {% if selected_variant == null %}
                      Unavailable
                    {% elsif selected_variant.available == false %}
                      Sold out
                    {% else %}
                      Add to cart
                    {% endif %}
                  </button>
                  {%- if block.settings.show_dynamic_checkout -%}
                    {{ form | payment_button }}
                  {%- endif -%}
                </div>

              {%- when 'custom_liquid' -%}
                {{ block.settings.custom_liquid }}

              {%- when 'collapsible_tab' -%}
                <div class="product__accordion accordion">
                  <details>
                    <summary>
                      <div class="summary__title">
                        {%- if block.settings.icon != 'none' -%}
                          {%- assign file = block.settings.icon | replace: '_', '-' | prepend: 'icon-' | append: '.svg' -%}
                          <span class="svg-wrapper">{{ file | inline_asset_content }}</span>
                        {%- endif -%}
                        <h2 class="accordion__title">
                          {{ block.settings.heading | default: block.settings.page.title | escape }}
                        </h2>
                      </div>
                      {{- 'icon-caret.svg' | inline_asset_content -}}
                    </summary>
                    <div class="accordion__content">
                      {{ block.settings.content }}
                      {{ block.settings.page.content }}
                    </div>
                  </details>
                </div>
              {%- when 'inventory' -%}
                <p class="product__inventory{% if block.settings.text_style == 'uppercase' %} caption-with-letter-spacing{% elsif block.settings.text_style == 'subtitle' %} subtitle{% endif %}{% if selected_variant.inventory_management != 'shopify' %} visibility-hidden{% endif %}">
                  {%- if selected_variant.inventory_management == 'shopify' -%}
                    {%- if selected_variant.inventory_quantity > 0 -%}
                      {%- if selected_variant.inventory_quantity <= block.settings.inventory_threshold -%}
                        <span class="svg-wrapper" style="color: rgb(238, 148, 65)">
                          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
                        </span>
                        {%- if block.settings.show_inventory_quantity -%}
                          {{- 'products.product.inventory_low_stock_show_count' | t: quantity: selected_variant.inventory_quantity -}}
                        {%- else -%}
                          {{- 'products.product.inventory_low_stock' | t -}}
                        {%- endif -%}
                      {%- else -%}
                        <span class="svg-wrapper" style="color: rgb(62, 214, 96)">
                          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
                        </span>
                        {%- if block.settings.show_inventory_quantity -%}
                          {{- 'products.product.inventory_in_stock_show_count' | t: quantity: selected_variant.inventory_quantity -}}
                        {%- else -%}
                          {{- 'products.product.inventory_in_stock' | t -}}
                        {%- endif -%}
                      {%- endif -%}
                    {%- else -%}
                      {%- if selected_variant.inventory_policy == 'continue' -%}
                        <span class="svg-wrapper" style="color: rgb(62, 214, 96)">
                          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
                        </span>
                        {{- 'products.product.inventory_out_of_stock_continue_selling' | t -}}
                      {%- else -%}
                        <span class="svg-wrapper" style="color: rgb(200, 200, 200)">
                          {{- 'icon-inventory-status.svg' | inline_asset_content -}}
                        </span>
                        {{- 'products.product.inventory_out_of_stock' | t -}}
                      {%- endif -%}
                    {%- endif -%}
                  {%- endif -%}
                </p>
              {%- when 'share' -%}
                {% assign share_url = product.selected_variant.url | default: product.url | prepend: request.origin %}
                <share-button class="share-button quick-add-hidden">
                  <button class="share-button__button hidden">
                    <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
                    {{ block.settings.share_label | escape }}
                  </button>
                  <details id="Details-{{ block.id }}-{{ section.id }}">
                    <summary class="share-button__button">
                      <span class="svg-wrapper">{{ 'icon-share.svg' | inline_asset_content }}</span>
                      {{ block.settings.share_label | escape }}
                    </summary>
                    <div class="share-button__fallback motion-reduce">
                      <div class="field">
                        <span id="ShareMessage-{{ section.id }}" class="share-button__message hidden" role="status"> </span>
                        <input
                          type="text"
                          class="field__input"
                          id="ShareUrl-{{ section.id }}"
                          value="{{ share_url }}"
                          placeholder="{{ 'general.share.share_url' | t }}"
                          onclick="this.select();"
                          readonly
                        >
                        <label class="field__label" for="ShareUrl-{{ section.id }}">{{ 'general.share.share_url' | t }}</label>
                      </div>
                      <button class="share-button__close hidden">
                        <span class="svg-wrapper">
                          {{- 'icon-close.svg' | inline_asset_content -}}
                        </span>
                        <span class="visually-hidden">{{ 'general.share.close' | t }}</span>
                      </button>
                      <button class="share-button__copy">
                        <span class="svg-wrapper">
                          {{- 'icon-copy.svg' | inline_asset_content -}}
                        </span>
                        <span class="visually-hidden">{{ 'general.share.copy_to_clipboard' | t }}</span>
                      </button>
                    </div>
                  </details>
                </share-button>
            {%- endcase -%}
          {%- endfor -%}
        {% endform %}
      </div>
    </div>
  </div>
</product-info>

<script type="text/javascript">
  class ProductInfo extends HTMLElement {
    abortController = undefined;

    constructor() {
      super();
      this.variantSelector?.addEventListener('change', this.onVariantChange.bind(this));
      this.quantitySelector.addEventListener('change', this.onQuantitySelectorEvent.bind(this));
      this.quantitySelector.querySelector('button[name="plus"]').addEventListener('click', this.onQuantitySelectorEvent.bind(this));
      this.quantitySelector.querySelector('button[name="minus"]').addEventListener('click', this.onQuantitySelectorEvent.bind(this));
      document.getElementById('swiper-script').addEventListener('load', this.initSwiper.bind(this));
      this.initShareButton();
    }

    initSwiper() {
      this.swiper = new Swiper('.swiper', {
        autoHeight: true,
        direction: 'horizontal',
        pagination: {
          el: '.swiper-pagination',
        },
        navigation: {
          prevEl: '.swiper-button-prev',
          nextEl: '.swiper-button-next',
        },
      });
    }

    initShareButton() {
      const shareButton = this.querySelector('share-button');
      if (!shareButton) return;
      const urlInput = shareButton.querySelector('input');
      const urlToShare = urlInput ? urlInput.value : document.location.href;

      if (navigator.share) {
        shareButton.querySelector('details').setAttribute('hidden', 'hidden');
        shareButton.querySelector('button').classList.remove('hidden');
        shareButton.querySelector('button').addEventListener('click', (event) => {
          event.preventDefault();
          navigator.share({ url: urlToShare, title: document.title });
        });
      } else {
        const copyButton = shareButton.querySelector('.share-button__copy');
        const closeButton = shareButton.querySelector('.share-button__close');
        const summary = shareButton.querySelector('summary');
        const successMessage = shareButton.querySelector('[id^="ShareMessage"]');

        summary.addEventListener('click', (event) => {
          event.preventDefault();
          shareButton.querySelector('details').open = !shareButton.querySelector('details').open;
        });

        document.addEventListener('click', (event) => {
          if (!shareButton.querySelector('details').contains(event.target) && shareButton.querySelector('details').open) {
            shareButton.querySelector('details').open = false;
          }
        });

        copyButton.addEventListener('click', (event) => {
          event.preventDefault();
          navigator.clipboard.writeText(urlInput.value).then(() => {
            successMessage.classList.remove('hidden');
            successMessage.textContent = 'Link copied!';
            closeButton.classList.remove('hidden');
            closeButton.focus();
          });
        });

        closeButton.addEventListener('click', (event) => {
          event.preventDefault();
          shareButton.querySelector('details').open = false;
          successMessage.classList.add('hidden');
          successMessage.textContent = '';
          closeButton.classList.add('hidden');
        });
      }
    }

    get variantSelector() {
      return this.querySelector('variant-selector');
    }

    get quantitySelector() {
      return this.querySelector('quantity-selector');
    }

    onVariantChange(e) {
      this.updateSelectedOptions(e.target.tagName);
      this.updateCurrentVariant();
      this.updateUrl();
      this.updateFormID();
      this.renderSection();
      this.updateSwiperSlide();
    }

    updateSwiperSlide() {
      if (this.currentVariant) {
        var media = this.currentVariant.featured_media?.id;
        if (!media) return;
        var index = this.querySelector(`.swiper-slide[data-media-id="${media}"]`).dataset.mediaIndex;
        this.swiper?.slideTo(index);
      }
    }

    onQuantitySelectorEvent(e) {
      const quantityInput = this.quantitySelector.querySelector('input[type="number"]');
      let currentValue = parseInt(quantityInput.value);
      const minValue = parseInt(quantityInput.getAttribute('min')) || 0;
      const maxValue = parseInt(quantityInput.getAttribute('max')) || Infinity;

      if (event.target.name === 'minus' && currentValue > minValue) {
        quantityInput.value = currentValue - 1;
      } else if (event.target.name === 'plus' && currentValue < maxValue) {
        quantityInput.value = currentValue + 1;
      } else if (event.type === 'change') {
        if (currentValue < minValue) {
          quantityInput.value = minValue;
        } else if (currentValue > maxValue) {
          quantityInput.value = maxValue;
        }
      }
    }

    updateSelectedOptions(tagName) {
      if (tagName === 'SELECT') {
        this.options = Array.from(this.variantSelector.querySelectorAll('select'), (select) => select.value);
        this.selectedOptionValues = Array.from(this.variantSelector.querySelectorAll('select'))
          .map((select) => select.options[select.selectedIndex].dataset.optionValueId)
          .join(',');
      } else {
        this.options = Array.from(this.variantSelector.querySelectorAll('fieldset input:checked')).map((element) => element.value);
        this.selectedOptionValues = Array.from(this.variantSelector.querySelectorAll('fieldset input:checked'))
          .map((element) => element.dataset.optionValueId)
          .join(',');
      }

      console.log('this.selectedOptionValues', this.selectedOptionValues);
    }

    getVariants() {
      this.variantData = this.variantData || JSON.parse(this.variantSelector.querySelector('[data-variants]').textContent);
      return this.variantData;
    }

    updateCurrentVariant() {
      this.currentVariant = this.getVariants().find((variant) => {
        const findings = !variant.options
          .map((option, index) => {
            return this.options[index] === option;
          })
          .includes(false);

        if (findings) return variant;
      });
      console.log('this.currentVariant', this.currentVariant);
    }

    updateUrl() {
      if (this.currentVariant) {
        window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`);
      } else {
        window.history.replaceState({}, '', `${this.dataset.url}`);
      }
    }

    updateFormID() {
      const form_input = this.querySelector('#product-form').querySelector('input[name="id"]');
      form_input.value = this.currentVariant ? this.currentVariant.id : '';
    }

    renderSection() {
      this.abortController?.abort();
      this.abortController = new AbortController();

      fetch(`${this.dataset.url}?option_values=${this.selectedOptionValues}&section_id=${this.dataset.section}`, {
        signal: this.abortController.signal,
      })
        .then((response) => response.text())
        .then((responseText) => {
          const html = new DOMParser().parseFromString(responseText, 'text/html');

          const oldPrice = document.getElementById(`price-${this.dataset.section}`);
          const newPrice = html.getElementById(`price-${this.dataset.section}`);

          if (oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;

          const oldVariantSelector = document.querySelector('variant-selector');
          const newVariantSelector = html.querySelector('variant-selector');

          if (oldVariantSelector && newVariantSelector) oldVariantSelector.innerHTML = newVariantSelector.innerHTML;

          const oldSubmitButton = document.getElementById(`AddToCart-${this.dataset.section}`);
          const newSubmitButton = html.getElementById(`AddToCart-${this.dataset.section}`);

          if (oldSubmitButton && newSubmitButton) oldSubmitButton.replaceWith(newSubmitButton);
        })
        .catch((error) => {
          if (error.name === 'AbortError') {
            console.log('Fetch aborted by user');
          } else {
            console.error(error);
          }
        });
    }
  }

  customElements.define('product-info', ProductInfo);
</script>

{% schema %}
{
  "name": "t:sections.main-product.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "text",
      "name": "t:sections.main-product.blocks.text.name",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "t:sections.main-product.blocks.text.settings.text.default",
          "label": "t:sections.main-product.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.text.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "title",
      "name": "t:sections.main-product.blocks.title.name",
      "limit": 1
    },
    {
      "type": "price",
      "name": "t:sections.main-product.blocks.price.name",
      "limit": 1
    },
    {
      "type": "sku",
      "name": "t:sections.main-product.blocks.sku.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.sku.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.sku.settings.text_style.label"
        }
      ]
    },
    {
      "type": "inventory",
      "name": "t:sections.main-product.blocks.inventory.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__2.label"
            },
            {
              "value": "uppercase",
              "label": "t:sections.main-product.blocks.inventory.settings.text_style.options__3.label"
            }
          ],
          "default": "body",
          "label": "t:sections.main-product.blocks.inventory.settings.text_style.label"
        },
        {
          "type": "range",
          "id": "inventory_threshold",
          "label": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.label",
          "min": 0,
          "max": 100,
          "step": 1,
          "info": "t:sections.main-product.blocks.inventory.settings.inventory_threshold.info",
          "default": 10
        },
        {
          "type": "checkbox",
          "id": "show_inventory_quantity",
          "label": "t:sections.main-product.blocks.inventory.settings.show_inventory_quantity.label",
          "default": true
        }
      ]
    },
    {
      "type": "quantity_selector",
      "name": "t:sections.main-product.blocks.quantity_selector.name",
      "limit": 1
    },
    {
      "type": "variant_picker",
      "name": "t:sections.main-product.blocks.variant_picker.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "picker_type",
          "options": [
            {
              "value": "dropdown",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__1.label"
            },
            {
              "value": "button",
              "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.options__2.label"
            }
          ],
          "default": "button",
          "label": "t:sections.main-product.blocks.variant_picker.settings.picker_type.label"
        },
        {
          "id": "swatch_shape",
          "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.label",
          "type": "select",
          "info": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.info",
          "options": [
            {
              "value": "circle",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__1.label"
            },
            {
              "value": "square",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__2.label"
            },
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.variant_picker.settings.swatch_shape.options__3.label"
            }
          ],
          "default": "circle"
        }
      ]
    },
    {
      "type": "buy_buttons",
      "name": "t:sections.main-product.blocks.buy_buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "checkbox",
          "id": "show_dynamic_checkout",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_dynamic_checkout.info"
        },
        {
          "type": "checkbox",
          "id": "show_gift_card_recipient",
          "default": true,
          "label": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.label",
          "info": "t:sections.main-product.blocks.buy_buttons.settings.show_gift_card_recipient.info"
        }
      ]
    },
    {
      "type": "description",
      "name": "t:sections.main-product.blocks.description.name",
      "limit": 1
    },
    {
      "type": "share",
      "name": "t:sections.main-product.blocks.share.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "share_label",
          "label": "t:sections.main-product.blocks.share.settings.text.label",
          "default": "t:sections.main-product.blocks.share.settings.text.default"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.featured_image_info.content"
        },
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.share.settings.title_info.content"
        }
      ]
    },
    {
      "type": "custom_liquid",
      "name": "t:sections.custom-liquid.name",
      "settings": [
        {
          "type": "liquid",
          "id": "custom_liquid",
          "label": "t:sections.custom-liquid.settings.custom_liquid.label",
          "info": "t:sections.custom-liquid.settings.custom_liquid.info"
        }
      ]
    },
    {
      "type": "collapsible_tab",
      "name": "t:sections.main-product.blocks.collapsible_tab.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "t:sections.main-product.blocks.collapsible_tab.settings.heading.default",
          "info": "t:sections.main-product.blocks.collapsible_tab.settings.heading.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.heading.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "check_mark",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.content.label"
        },
        {
          "type": "page",
          "id": "page",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.page.label"
        }
      ]
    },
    {
      "type": "popup",
      "name": "t:sections.main-product.blocks.popup.name",
      "settings": [
        {
          "type": "text",
          "id": "text",
          "default": "t:sections.main-product.blocks.popup.settings.link_label.default",
          "label": "t:sections.main-product.blocks.popup.settings.link_label.label"
        },
        {
          "id": "page",
          "type": "page",
          "label": "t:sections.main-product.blocks.popup.settings.page.label"
        }
      ]
    },
    {
      "type": "rating",
      "name": "t:sections.main-product.blocks.rating.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.rating.settings.paragraph.content"
        }
      ]
    },
    {
      "type": "complementary",
      "name": "t:sections.main-product.blocks.complementary_products.name",
      "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "t:sections.main-product.blocks.complementary_products.settings.paragraph.content"
        },
        {
          "type": "text",
          "id": "block_heading",
          "default": "t:sections.main-product.blocks.complementary_products.settings.heading.default",
          "label": "t:sections.main-product.blocks.complementary_products.settings.heading.label"
        },
        {
          "type": "checkbox",
          "id": "make_collapsible_row",
          "default": false,
          "label": "t:sections.main-product.blocks.complementary_products.settings.make_collapsible_row.label"
        },
        {
          "type": "select",
          "id": "icon",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "price_tag",
          "info": "t:sections.main-product.blocks.complementary_products.settings.icon.info",
          "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.label"
        },
        {
          "type": "range",
          "id": "product_list_limit",
          "min": 1,
          "max": 10,
          "step": 1,
          "default": 10,
          "label": "t:sections.main-product.blocks.complementary_products.settings.product_list_limit.label"
        },
        {
          "type": "range",
          "id": "products_per_page",
          "min": 1,
          "max": 4,
          "step": 1,
          "default": 3,
          "label": "t:sections.main-product.blocks.complementary_products.settings.products_per_page.label"
        },
        {
          "type": "select",
          "id": "pagination_style",
          "options": [
            {
              "value": "dots",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_1"
            },
            {
              "value": "counter",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_2"
            },
            {
              "value": "numbers",
              "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.options.option_3"
            }
          ],
          "label": "t:sections.main-product.blocks.complementary_products.settings.pagination_style.label",
          "default": "counter"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.complementary_products.settings.product_card.heading"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "portrait",
              "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_1"
            },
            {
              "value": "square",
              "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.options.option_2"
            }
          ],
          "label": "t:sections.main-product.blocks.complementary_products.settings.image_ratio.label",
          "default": "square"
        },
        {
          "type": "checkbox",
          "id": "enable_quick_add",
          "label": "t:sections.main-product.blocks.complementary_products.settings.enable_quick_add.label",
          "default": false
        }
      ]
    },
    {
      "type": "icon-with-text",
      "name": "t:sections.main-product.blocks.icon_with_text.name",
      "settings": [
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "horizontal",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__1.label"
            },
            {
              "value": "vertical",
              "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.options__2.label"
            }
          ],
          "default": "horizontal",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.layout.label"
        },
        {
          "type": "header",
          "content": "t:sections.main-product.blocks.icon_with_text.settings.content.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.content.info"
        },
        {
          "type": "select",
          "id": "icon_1",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "heart",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_1.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_1.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_1",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_1.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon_2",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "return",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_2.label"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_2.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_2",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_2.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        },
        {
          "type": "select",
          "id": "icon_3",
          "options": [
            {
              "value": "none",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__1.label"
            },
            {
              "value": "apple",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__2.label"
            },
            {
              "value": "banana",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__3.label"
            },
            {
              "value": "bottle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__4.label"
            },
            {
              "value": "box",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__5.label"
            },
            {
              "value": "carrot",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__6.label"
            },
            {
              "value": "chat_bubble",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__7.label"
            },
            {
              "value": "check_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__8.label"
            },
            {
              "value": "clipboard",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__9.label"
            },
            {
              "value": "dairy",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__10.label"
            },
            {
              "value": "dairy_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__11.label"
            },
            {
              "value": "dryer",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__12.label"
            },
            {
              "value": "eye",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__13.label"
            },
            {
              "value": "fire",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__14.label"
            },
            {
              "value": "gluten_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__15.label"
            },
            {
              "value": "heart",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__16.label"
            },
            {
              "value": "iron",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__17.label"
            },
            {
              "value": "leaf",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__18.label"
            },
            {
              "value": "leather",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__19.label"
            },
            {
              "value": "lightning_bolt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__20.label"
            },
            {
              "value": "lipstick",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__21.label"
            },
            {
              "value": "lock",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__22.label"
            },
            {
              "value": "map_pin",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__23.label"
            },
            {
              "value": "nut_free",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__24.label"
            },
            {
              "value": "pants",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__25.label"
            },
            {
              "value": "paw_print",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__26.label"
            },
            {
              "value": "pepper",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__27.label"
            },
            {
              "value": "perfume",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__28.label"
            },
            {
              "value": "plane",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__29.label"
            },
            {
              "value": "plant",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__30.label"
            },
            {
              "value": "price_tag",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__31.label"
            },
            {
              "value": "question_mark",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__32.label"
            },
            {
              "value": "recycle",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__33.label"
            },
            {
              "value": "return",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__34.label"
            },
            {
              "value": "ruler",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__35.label"
            },
            {
              "value": "serving_dish",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__36.label"
            },
            {
              "value": "shirt",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__37.label"
            },
            {
              "value": "shoe",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__38.label"
            },
            {
              "value": "silhouette",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__39.label"
            },
            {
              "value": "snowflake",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__40.label"
            },
            {
              "value": "star",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__41.label"
            },
            {
              "value": "stopwatch",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__42.label"
            },
            {
              "value": "truck",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__43.label"
            },
            {
              "value": "washing",
              "label": "t:sections.main-product.blocks.collapsible_tab.settings.icon.options__44.label"
            }
          ],
          "default": "truck",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.icon_3.label"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.image_3.label"
        },
        {
          "type": "inline_richtext",
          "id": "heading_3",
          "default": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.default",
          "label": "t:sections.main-product.blocks.icon_with_text.settings.heading_3.label",
          "info": "t:sections.main-product.blocks.icon_with_text.settings.heading.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_info",
      "default": true,
      "label": "t:sections.main-product.settings.enable_sticky_info.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-product.settings.header.content",
      "info": "t:sections.main-product.settings.header.info"
    },
    {
      "type": "select",
      "id": "media_size",
      "options": [
        {
          "value": "small",
          "label": "t:sections.main-product.settings.media_size.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.main-product.settings.media_size.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.main-product.settings.media_size.options__3.label"
        }
      ],
      "default": "large",
      "label": "t:sections.main-product.settings.media_size.label",
      "info": "t:sections.main-product.settings.media_size.info"
    },
    {
      "type": "checkbox",
      "id": "constrain_to_viewport",
      "default": true,
      "label": "t:sections.main-product.settings.constrain_to_viewport.label"
    },
    {
      "type": "select",
      "id": "media_fit",
      "options": [
        {
          "value": "contain",
          "label": "t:sections.main-product.settings.media_fit.options__1.label"
        },
        {
          "value": "cover",
          "label": "t:sections.main-product.settings.media_fit.options__2.label"
        }
      ],
      "default": "contain",
      "label": "t:sections.main-product.settings.media_fit.label"
    },
    {
      "type": "select",
      "id": "media_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.main-product.settings.media_position.options__1.label"
        },
        {
          "value": "right",
          "label": "t:sections.main-product.settings.media_position.options__2.label"
        }
      ],
      "default": "left",
      "label": "t:sections.main-product.settings.media_position.label",
      "info": "t:sections.main-product.settings.media_position.info"
    },
    {
      "type": "select",
      "id": "image_zoom",
      "options": [
        {
          "value": "lightbox",
          "label": "t:sections.main-product.settings.image_zoom.options__1.label"
        },
        {
          "value": "hover",
          "label": "t:sections.main-product.settings.image_zoom.options__2.label"
        },
        {
          "value": "none",
          "label": "t:sections.main-product.settings.image_zoom.options__3.label"
        }
      ],
      "default": "lightbox",
      "label": "t:sections.main-product.settings.image_zoom.label",
      "info": "t:sections.main-product.settings.image_zoom.info"
    },
    {
      "type": "checkbox",
      "id": "enable_video_looping",
      "default": false,
      "label": "t:sections.main-product.settings.enable_video_looping.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
